<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/neighbourhood"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/neighbourhood"
        android:supportsRtl="true"
        android:theme="@style/finalproject"
        tools:targetApi="31">
        <activity
            android:name=".RentTabsActivity"
            android:exported="false" />
        <activity
            android:name=".WasteUsersActivity"
            android:exported="false" />
        <activity
            android:name=".SecurityUsersActivity"
            android:exported="false" />
        <activity
            android:name=".RentUsersActivity"
            android:exported="false" />
        <activity
            android:name=".ResetActivity"
            android:exported="false" />
        <activity
            android:name=".WasteAdminLogin"
            android:exported="false" />
        <activity
            android:name=".SecurityAdminLogin"
            android:exported="false" />
        <activity
            android:name=".RentAdminLogin"
            android:exported="false" />
        <activity
            android:name=".ManageWasteActivity"
            android:exported="false" />
        <activity
            android:name=".ManageSecurityActivity"
            android:exported="false" />
        <activity
            android:name=".SecurityPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".WastePaymentActivity"
            android:exported="false" />
        <activity
            android:name=".RentPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".CreateWasteActivity"
            android:exported="false" />
        <activity
            android:name=".CreateSecurityActivity"
            android:exported="false" />
        <activity
            android:name=".CreateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ManageRentActivity"
            android:exported="false" />
        <activity
            android:name=".ManagePropertyActivity"
            android:exported="false" />
        <activity
            android:name=".MakePaymentActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".CreateRentActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>