<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/neighbourhood"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/neighbourhood"
        android:supportsRtl="true"
        android:theme="@style/finalproject"
        tools:targetApi="31">
        <activity
            android:name=".Agent.WasteTabsActivity"
            android:exported="false" />
        <activity
            android:name=".Agent.SecurityTabsActivity"
            android:exported="false" />
        <activity
            android:name=".Agent.RentTabsActivity"
            android:exported="false" />
        <activity
            android:name=".Tenant.WasteUsersActivity"
            android:exported="false" />
        <activity
            android:name=".Tenant.SecurityUsersActivity"
            android:exported="false" />
        <activity
            android:name=".Tenant.RentUsersActivity"
            android:exported="false" />
        <activity
            android:name=".Common.ResetActivity"
            android:exported="false" />
        <activity
            android:name=".Agent.WasteAdminLogin"
            android:exported="false" />
        <activity
            android:name=".Agent.SecurityAdminLogin"
            android:exported="false" />
        <activity
            android:name=".Agent.RentAdminLogin"
            android:exported="false" />
        <activity
            android:name=".Agent.ManageWasteActivity"
            android:exported="false" />
        <activity
            android:name=".Agent.ManageSecurityActivity"
            android:exported="false" />
        <activity
            android:name=".Tenant.SecurityPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".Tenant.WastePaymentActivity"
            android:exported="false" />
        <activity
            android:name=".Tenant.RentPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".Agent.CreateWasteActivity"
            android:exported="false" />
        <activity
            android:name=".Agent.CreateSecurityActivity"
            android:exported="false" />
        <activity
            android:name=".Common.CreateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Agent.ManageRentActivity"
            android:exported="false" />
        <activity
            android:name=".Agent.ManagePropertyActivity"
            android:exported="false" />
        <activity
            android:name=".Tenant.MakePaymentActivity"
            android:exported="false" />
        <activity
            android:name=".Common.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Agent.CreateRentActivity"
            android:exported="false" />
        <activity
            android:name=".FirebaseAuth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".FirebaseAuth.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>